@charset "UTF-8";
/* Стили для полос прокрутки */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2666666667) rgba(0, 0, 0, 0.2666666667);
}

*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2666666667);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2666666667);
  border: 0.5px solid rgba(0, 0, 0, 0.04);
}

/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #dde1e7;*/
  background: #e6e7ee;
}

/* Контейнер с боковой панелью и контентом */
.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

/* Контейнер с графиком */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Боковая панель */
.shadow-container {
  box-shadow: 7px 7px 19px #b1b1b1, -7px -7px 19px #ffffff;
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.4509803922), 2px 2px 5px rgba(94, 104, 121, 0.2862745098);
}

.sidebar {
  width: min(320px, 30vw);
  margin-right: 20px; /* Отступ между блоками */
  border-top-left-radius: 41px;
  border-bottom-left-radius: 41px;
  overflow-y: auto;
  padding: 20px;
}

select {
  background-color: #e6e7ee;
  font-size: 16px;
  padding-right: 30px;
}

/* График */
.graph {
  width: 100%;
  height: 100%;
  border-top-right-radius: 41px;
  border-bottom-right-radius: 41px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px rgba(255, 255, 255, 0.4509803922);
}

#convergencePlot {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Контейнер для управления графиком */
.controls-container {
  width: 100%;
  border-top-right-radius: 41px;
  border-bottom-right-radius: 41px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: space-between;
  flex-wrap: wrap; /* перенос элементов на новые строки, если не помещаются */
  gap: 15px;
  box-sizing: border-box;
  color: #595959;
  padding: 0px 20px 10px 20px;
}

.controls-container button {
  padding: 8px 16px;
}

.aspect-ratio-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Для ввода */
input:not([type=range]),
select {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #f0f0f0;
  box-shadow: inset 4px 4px 6px #cccccc, inset -4px -4px 6px #f4f4f4;
}

select:not(:focus) {
  box-shadow: inset 4px 4px 6px #cccccc, inset -4px -4px 6px #eeeeee;
}

select:focus {
  border-color: #cccccc;
  box-shadow: none;
}

.errorDiv {
  font-size: 14px;
  font-weight: 600;
  color: #800202;
  display: none;
}

input:not([type=range]):focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px rgba(255, 255, 255, 0.4509803922);
}

.form-input-error {
  border: 1px solid #800202 !important;
  box-shadow: 2px 2px 6px rgba(128, 2, 2, 0.2), -2px -2px 6px rgba(128, 2, 2, 0.2) !important;
}

/* Ползунки */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  box-shadow: inset 2px 2px 6px #b3b3b3, inset -2px -2px 6px #eeeeee;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: grab;
  background-color: #e9e9e9;
  border: 1px solid #cccccc;
  box-shadow: -3px -3px 7px #ffffff, 2px 2px 5px rgba(94, 104, 121, 0.2862745098);
  border-radius: 68.8px;
}

input[type=range]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

input[type=range]::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: grab;
  background-color: #e9e9e9;
  border: 1px solid #cccccc;
  box-shadow: -3px -3px 7px #ffffff, 2px 2px 5px rgba(94, 104, 121, 0.2862745098);
  border-radius: 68.8px;
}

/**/
input:not([type=range]),
select {
  width: 100%;
  border-radius: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px 5px 10px 5px;
  padding: 10px;
  color: #595959;
  background-color: #e6e7ee;
}

label {
  font-size: 16px;
  font-weight: 600;
}

.range-inline {
  display: inline-flex;
  align-items: center;
}

.range-inline input {
  width: 80px;
  margin: 5 5px;
}

.range-inline div {
  font-weight: bold;
}

#start {
  margin-top: 20px;
}

.tabButtons {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 15px 0;
  align-items: stretch;
}

.tab-content {
  display: none;
}

.active-tab {
  display: block;
}

/* Инфо о работе метода */
.method-info {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  z-index: 20;
  pointer-events: none;
}

/* Кнопки */
.button-base, .tabButton, button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  background-color: #e6e7ee;
  border-radius: 12px;
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px rgba(255, 255, 255, 0.4509803922);
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  color: #595959;
  transition: box-shadow 0.2s ease, background-color 0.15s ease, color 0.15s ease;
  padding: 10px;
}

button {
  margin: 10px 5px 10px 5px;
}

.tabButton {
  min-width: 140px;
  flex: 1;
  margin: 0;
  padding: 10px 0;
  border-radius: 0;
  justify-content: center;
  box-shadow: 2px 2px 5px #babecc;
}
.tabButton:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px rgba(255, 255, 255, 0.4509803922);
}
.tabButton:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: none;
}

button:active,
.tabButton:first-child:active {
  color: #3498db;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px rgba(255, 255, 255, 0.4509803922);
}

.active-button,
.tabButton.active-button,
.tabButton:first-child.active-button,
#startOptimization:active {
  background-color: #2d4cc8;
  color: #fff;
  box-shadow: inset 2px 2px 5px rgb(28.1387755102, 47.5232653061, 125.0612244898), inset -5px -5px 10px rgb(37.506122449, 63.3436734694, 166.693877551);
}

#startOptimization {
  background-color: #2d4cc8;
  color: #fff;
}

#showSurface {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100px;
  z-index: 10;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

/*# sourceMappingURL=styles.css.map */
